.container{width:700px; margin-right:auto; margin-left:auto;}
#canvas{width:650px; height: 650px; margin-right: auto; margin-left:auto; background-color: #F1F1F1;}

td{background-color: #ffffff; margin: 0; padding: 0; }

.selectedCell {
      background-color: #660066;
   }
  

.controls{width:700px; margin-right:auto; margin-left:auto; text-align: center; background-color: #3399FF; padding-top:20px; padding-bottom:20px;}
body{text-size: medium; font-family: sans-serif; margin-top:0px; color: white;}
button{background-color: #09406C; border-color: #09406C; color: white; padding:10px;}